@import "./global.css";
@import "./fonts.css";
@import "./utils.css";

p{
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
    letter-spacing: -0.24px;
    color: #101828;
}

h1{
    font-weight: 700;
    font-size: 36px;
    line-height: 144%;
    letter-spacing: 0.32px;
    color: #101828;
}

h3{
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.38px;
    color: #101828;
}

h3.bold{
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.38px;
    color: #101828;
}

.field{
    border: 1px solid #356EAD;
    box-sizing: border-box;
    border-radius: 10px;
    opacity: 0.4;
    display: block;
}

ul.inline {
    margin: 0 34px;
    padding: 0;
    overflow: hidden;
    list-style-type: none;
    display: inline-block;
}

.inline {
    display: inline-block;
}

header{
    margin: 17px 5%;
    display: flex;
    flex-direction: row;
    align-items: center;
    position: absolute;
    width: 1124px;
    height: 56px;
    background: #FFFFFF;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.08);
    border-radius: 12px;
}

.intro-block{
    padding-top: 75px;
    width:1440px;
    /*height: 900px;*/
    left: 0px;
    top: 0px;
    background: #F2F4F7;
}

.intro-main-text{
    width: 520px;
}

table.block{
    margin: 0 5%;
}

table.block td:first-child{
    min-width: 600px;
}

table.block p, table.block h1, table.block h2, table.block h3, table.block h4, table.block h5{
    max-width:600px;
}

button{
    font-family: 'Inter', sans-serif;
    padding: 11px 24px;
    font-weight: 600;
    text-align: left;
    color:white;
    width: 132px;
    height: 58px;
    background: #2D66EE;
    border-radius: 8px;
    border-style: none;
}

.feedback{
    padding: 24px;
    margin-top: 64px;
    background: #FFFFFF;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.08), 0px 0px 24px rgba(0, 0, 0, 0.16);
    border-radius: 12px;
    width: max-content;
    height: max-content;
}

.feedback h3{
    margin-top: 0;
}

label{
    font-weight: 500;
    font-size: 13px;
    line-height: 16px;
    letter-spacing: -0.078px;
    color: #667085;
}

input{
    alignment: left;
    display: block;
    height: 35px;
    width: 224px;
    border-style: none;
    border-bottom: 1px solid #D0D5DD;
    margin-bottom: 10px;
}

.development-block{
    margin-top: 75px;
    width:1440px;
    height: 493px;
    background: white;
}

.development-main-text{
    width: 520px;
}

ul.development-stages{
    margin: 0;
    padding: 0;
    list-style: none;
    display: inline-block;
    font-weight: 400;
    font-size: 20px;
    letter-spacing: 0.38px;
    color: #1D2939;
}

ul.development-stages li{
    margin: 24px;
}

ul.development-stages li:after{
    content: " >";
}

.developed-block{
    width: 1440px;
    background: #F2F4F7;
}

.industries-list ul{
    padding: 0;
    list-style: none;
    display: inline-block;
    width: 400px;
}

.industries-list li{
    margin: 15px 0;
}

.industries-list li:before{
    margin-right: 10px;
    vertical-align: middle;
    content: url('data:image/svg+xml,<svg width="42" height="42" viewBox="0 0 42 42" fill="none" xmlns="http://www.w3.org/2000/svg"><circle cx="21" cy="21" r="21" fill="white"/></svg>');
}

.favourite-projects-block{
    width: 1440px;
    background: white;
}

.discuss-project-block{
    width: 1440px;
    background: #2D66EE;
}

.discuss-project-description *{
    color: white;
}

.favourite-projects-nav a{
    padding: 16px;
}

.statistics{
    display: inline-block;
    alignment: left;
    margin: 25px 48px 25px 0;
}

.dev-stages-block{
    width: 1440px;
    background: white;
}

.dev-stage{
    width: 392px;
    background: #FFFFFF;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.08), 0px 2px 24px rgba(0, 0, 0, 0.08);
    border-radius: 12px;
    margin: 24px 0;
    padding: 24px;
    min-height: 172px;
}

.dev-stage p{
    font-size: small;
}

.team-block{
    width: 1440px;
    background: white;
}

.book-block{
    width: 1440px;
    background: #2D66EE;
}

.faq-block{
    width: 1440px;
    background:white;
}

.faq-question{
    min-height: 84px;
    border-style: none;
    border-bottom: 1px solid #D0D5DD;
    margin-bottom: 10px;
}

.faq-question a{
    background-size: 100% 100%;
    background-image: url("./../img/plus.png");
    display: inline-block;
    width: 60px;
    height: 60px;
    vertical-align: middle;
}

.faq-question:first-of-type{
    border-top: 1px solid #D0D5DD;
}

footer{
    width: 1224px;
    margin: 20px 5%;
    background: #101828;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.08), 0px 2px 24px rgba(0, 0, 0, 0.08);
    border-radius: 12px;
    padding: 24px;
}

footer h1{
    color: white;
    text-align: center;
    margin:0;
}

ul.footer-items{
    overflow: hidden;
    list-style-type: none;
}

ul.footer-items li{
    display: inline-block;
    width: 260px;
}

ul.footer-items p{
    color: #98A2B3;
    font-size: small;
}

ul.footer-items h3{
    color: white;
}