@import "./global.css";
@import "./fonts.css";
@import "./utils.css";
@import "./typography.css";

.wrapper, html, body {
    margin-top: 0;
    height: 100%;
}

.content {
    min-height: 100%;
    padding-bottom: 262px;
}

ul.inline {
    overflow: hidden;
    list-style-type: none;
    display: inline-block;
    padding-inline-start: 0;
}

ul.inline li{
    display: inline;
}

.inline {
    display: inline-block;
}

button.default {
    font-family: 'SF Pro Text', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: -0.154px;
    color: #FFFFFF;

    padding: 11px 24px;
    text-align: left;
    background: #2D66EE;
    border-radius: 8px;
    border-style: none;
    vertical-align: middle;
}

.compact_width{
    width: min-content;
}

label {
    font-weight: 500;
    font-size: 13px;
    line-height: 16px;
    letter-spacing: -0.078px;
    color: #667085;
}

input {
    alignment: left;
    display: block;
    height: 35px;
    width: 224px;
    border-style: none;
    border-bottom: 1px solid #D0D5DD;
}

.hidden{
    display: none;
}

.header {
    margin: 17px 5%;
    align-items: center;
    display: flex;
    justify-content: space-between;
    position: fixed;
    width: 1124px;
    height: 56px;
    background: #FFFFFF;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.08);
    border-radius: 12px;
    padding:16px 24px;
}

.header_nav{
    width: 324px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header_logo{

}

.header_contacts{
    display: flex;
    justify-content: space-between;
    align-content: center;
    width: 472px;
}

.header_contact-number{
    align-self: baseline;
}

.header_contact-email{
    margin-left: 32px;
}

.header a{
    color:#101828;
}

.intro-block {
    max-width: 1440px;
    height: 900px;
    display: grid;
    grid-template-columns: 676px;
    padding-left: 5%;
    color: #101828;
    background: #F2F4F7 url("./../img/phone screens.png") no-repeat;
    overflow: hidden;
    background-size: 75%;
    background-position-y: 55%;
    background-position-x: 158%;
}

.intro-content{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: space-between;
}

.intro-main-text {
    max-width: 600px;
    padding-top: 160px;
    margin-bottom: 64px;
}

.intro-main-text h2{
    margin: 0 0 24px;
}

.development-block {
    padding-top: 80px;
    padding-bottom: 82px;
    max-width: 1440px;
    display: grid;
    padding-left: 5%;
    grid-template-columns: 1fr 1fr;
    background: white;
}

.development-main-text{

}

.development-main-text *{
    margin-bottom: 32px;
}

.development-track{
    max-width: 496px;
}

.development-track .title{
    margin-bottom: 16px;
}

.development-types {
    display: grid;
    align-items: center;
    grid-template-rows: repeat(7, 48px);
}

.development-types a{
    color: #1D2939;
}

.development-types a:after {
    content: "  >";
    color: #2D66EE;
}

.developed-block {
    width: 1440px;
    background: #F2F4F7;
}

.industries-list ul {
    padding: 0;
    list-style: none;
    display: inline-block;
    width: 400px;
}

.industries-list li {
    margin: 15px 0;
}

.industries-list li:before {
    margin-right: 10px;
    vertical-align: middle;
    content: url('data:image/svg+xml,<svg width="42" height="42" viewBox="0 0 42 42" fill="none" xmlns="http://www.w3.org/2000/svg"><circle cx="21" cy="21" r="21" fill="white"/></svg>');
}

.favourite-projects-block {
    width: 1440px;
    background: white;
}

.discuss-project-block {
    width: 1440px;
    background: #2D66EE;
}

.discuss-project-description * {
    color: white;
}

.favourite-projects-nav a {
    padding: 16px;
}

.statistics {
    display: inline-block;
    alignment: left;
    margin: 25px 48px 25px 0;
}

.dev-stages-block {
    width: 1440px;
    background: white;
}

.dev-stage {
    width: 392px;
    background: #FFFFFF;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.08), 0 2px 24px rgba(0, 0, 0, 0.08);
    border-radius: 12px;
    margin: 24px 0;
    padding: 24px;
    min-height: 172px;
}

.dev-stage p {
    font-size: small;
}

.team-block {
    width: 1440px;
    background: white;
}

.book-block {
    width: 1440px;
    background: #2D66EE;
}

.faq-block {
    width: 1440px;
    background: white;
    padding: 80px 5%;
}

.faq-question {
    min-height: 84px;
    border-style: none;
    border-bottom: 1px solid #D0D5DD;
    margin-bottom: 10px;
}

.faq-question a {
    background-size: 100% 100%;
    background-image: url("./../img/plus.png");
    display: inline-block;
    width: 60px;
    height: 60px;
    vertical-align: middle;
}

.faq-question:first-of-type {
    border-top: 1px solid #D0D5DD;
}

.footer {
    width: 1224px;
    height: 222px;
    margin: -262px 5% 40px;
    background: #101828;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.08), 0 2px 24px rgba(0, 0, 0, 0.08);
    border-radius: 12px;
    padding: 24px;
}

.footer .title {
    color: white;
    text-align: center;
    margin: 0;
    line-height: 18px;
}

.footer-items {
    margin: 40px 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    height: 54px;
}

.footer-items p {
    color: #98A2B3;
    fill:#98A2B3;
    font-size: small;
    margin: 0;
    order: -1;
}

.footer-items h3 {
    color: white;
    margin: auto 0;
}

.footer-bottom{
    color: white;
    text-align: center;
}

.accent, .accent *{
    color:#2D66EE;
    fill:#2D66EE;
}

svg.small-icon{
    width:24px;
    height:24px;
    vertical-align: middle;
    margin-right: 8px;
}

a{
    text-decoration: none;
}

.dedicated-block{
    padding: 24px;
    background: #FFFFFF;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.08), 0 0 24px rgba(0, 0, 0, 0.16);
    border-radius: 12px;
    width: fit-content;
    height: max-content;
}

.no-offset-top{
    padding-top: 0;
    margin-top: 0;
}

.no-offset-bottom{
    padding-bottom: 0;
    margin-bottom: 0;
}

.input-block{
    min-height: 58px;
    min-width: 224px;
}

.input-block:not(:last-child){
    margin-right: 24px;
}

.contact-form{
    display: flex;
    flex-flow: wrap row;
    justify-content: space-between;
    align-items: center;
}

.contact-form .input-block, .contact-form button{
    margin-top: 32px;
}

.form-block{

}

.store-icon{
    width: 136px;
    height: 40px;
}

@media screen and (max-width: 1439px) {
    .header{
        padding: 25px 32px;
        margin: 17px 0;
        width: 100%;
        height: 90px;
    }

    .header_logo{
        margin-left: 17vw;
    }

    .header_nav{
        display: none;
    }

    .header_burger_button{
        display: inline-block;
    }

    .header_contact-number{
        display: none;
    }

    .header_contacts{
        align-self: center;
        width: unset;
    }

    .intro-block{
        grid-template-columns: 382px;
        padding: 32px 33px;
        height: fit-content;
    }

    .intro-main-text {
        padding-top: 106px;
        margin-bottom: 32px;
    }

    .intro-block button{
        width: max-content;
    }

    .dedicated-block{
        padding: 32px;
    }

    .dedicated-block .title{
        font-size: 16px;
    }

    .development-block {
        margin: unset;
        padding: 32px 40px;
    }

    .development-main-text{
        width: 396px;
    }

    .development-track{
        width: 320px;
    }

    .development-track p{
        font-size: 14px;
    }

    .development-types{
        margin-top: 124px;
    }

    .footer{
        height: 241px;
        margin: -281px 0 0;
        width: 100%;
        padding: 46px 21px 37px 56px;
    }

    .footer .title {
        font-size: 36px;
    }

    .footer .headline-regular, .footer .subhead-medium{
        font-size: 14px;
    }
}